torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
pennylane==0.40.0
pennylane-lightning==0.40.0 
pennylane-lightning-gpu==0.40.0 
zuko==1.4.0 
numpy==1.26.4
scipy==1.15.2 
matplotlib==3.10.1 
h5py==3.13.0
pandas==2.2.3 
pyscf==2.8.0
openfermion==1.7.0
openfermionpyscf==0.5 
tqdm==4.67.1
seaborn==0.13.2
 
 